/*タブレット向けレイアウト*/
@media (max-width: 1024px) {
  .header-left {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }

  .top h1 {
    font-size: 150px;
  }
}

/* スマホ向けレイアウト */
@media (max-width: 540px) {
  .header-left {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }

  .top h1 {
    font-size: 75px;
  }

  .header-left {
    width: 0%;
  }
}
