* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  
li {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: #efefef;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  z-index: 10;
}

header li {
  float: left;
  padding: 10px 35px;
  font-size: 50px;
  font-family: arial black;
}

header li img {
  width: 55px;
}

.header-top {
  float: left;
}

.header-top img {
  width: 115px;
  padding: 8px 18px;
  transition: opacity 0.5s;
}

header img:hover {
  opacity: 0.6;
}

header a:hover {
  color: rgb(252, 94, 94);
}

header a {
  color: black;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 70px;
  padding: 0 30px;
  font-weight: 800;
  text-shadow:
  2px 0 0 black,
  0 2px 0 black,
  -2px 0 0 black,
  0 -2px 0 black;
  display: none;
}

main {
  height: 2000px;
}

.top-wrapper {
  padding: 1px;
  background-image: url(image/backimage.jpg);
  background-size: cover;
  text-align: center;
  height: 700px;
}

.top-wrapper h1 {
  margin-top: 200px;
  margin-bottom: 80px;
  padding: 1px;
  font-size: 160px;
  color: white;
  letter-spacing: 10px;
  opacity: 0.9;
  text-shadow:
  8px  8px 2px #0080ff,
  -4px  4px 2px #003366,
  4px -4px 2px #003366,
  -4px -4px 2px #003366,
  4px  0px 2px #003366,
  0px  4px 2px #003366,
  -4px  0px 2px #003366,
  0px -4px 2px #003366;
}

.youtube {
  background-color: #ff0000;
  text-shadow:
  1px  1px 0.5px #003366,
  -1px  1px 0.5px #003366,
  1px -1px 0.5px #003366,
  -1px -1px 0.5px #003366,
  1px  0px 0.5px #003366,
  0px  1px 0.5px #003366,
  -1px  0px 0.5px #003366,
  0px -1px 0.5px #003366;
}

.niconico {
  background-color: #252525;
}

.top-wrapper a {
  padding: 0px 22px;
  font-size: 50px;
  color:white;
  text-decoration: none;
  border-radius: 10px;
  margin: 0px 60px;
  opacity: 0.8;
  border: 2px white solid;
  filter: brightness(100%);
  box-shadow: 0 8px #b4b4b4;
}

.top-wrapper a:hover {
  opacity: 1;
  filter: brightness(110%);
}

.youtube:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}

.niconico:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}

.content-list {
  float: left;
  font-size: 30px;
  margin: 100px 90px;
  position: relative;
}

.content h1 {
  font-size: 50px;
  margin-top: 120px;
  margin-left: 110px;
}

.content-list img {
  width: 300px;
}

.lego p {
  position: absolute;
  left: 120px;
}

.electronic p {
  position: absolute;
  left: 30px;
}

.program p {
  position: absolute;
  left: 90px;
}

footer {
  background-color: #003366;
  height: 105px;
}

footer h1 {
  color: white;
  margin: 22px 5px;
}

footer img {
  border-radius: 8px;
  width: 23%;
  margin: 24px 20px;
}

footer img:hover {
  opacity: 0.6;
}

footer li {
  float: left;
}

.learn {
  margin-left: 550px;
}
