* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: #efefef;
  opacity: 0.9;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.header-left {
  display: flex;
  margin: 10px 0;
  font-size: 50px;
  font-family: arial black;
}

.header-left li {
  margin: 0 30px;
}

.header-btn img {
  width: 80px;
  margin: 10px 18px;
  transition: opacity 0.5s;
}

header img:hover {
  opacity: 0.6;
}

header a {
  color: black;
}

header a:hover {
  color: rgb(252, 94, 94);
}

.menu-icon {
  margin:0 30px 0 auto;
  color: white;
  font-size: 70px;
  font-weight: 800;
  text-shadow:
  2px 2px 1px #003366,
  -2px 2px 1px #003366,
  2px -2px 1px #003366,
  -2px -2px 1px #003366,
  2px  0px 1px #003366,
  0px 2px 1px #003366,
  -2px 0px 1px #003366,
  2px -2px 1px #003366;
  display: none;
}

.menu-icon:hover {
  opacity: 0.6;
}

main {
  height: 2000px;
}

.top {
  padding: 1px;
  background-image: url(image/backimage.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 700px;
}

.top h1 {
  margin-top: 200px;
  margin-bottom: 80px;
  padding: 1px;
  font-size: 150px;
  color: white;
  letter-spacing: 10px;
  opacity: 0.9;
  text-shadow:
  8px 8px 2px #0080ff,
  -4px 4px 2px #003366,
  4px -4px 2px #003366,
  -4px -4px 2px #003366,
  4px 0px 2px #003366,
  0px 4px 2px #003366,
  -4px 0px 2px #003366,
  0px -4px 2px #003366;
}

.youtube {
  background-color: #ff0000;
  text-shadow:
  1px 1px 0.5px #003366,
  -1px 1px 0.5px #003366,
  1px -1px 0.5px #003366,
  -1px -1px 0.5px #003366,
  1px 0px 0.5px #003366,
  0px 1px 0.5px #003366,
  -1px 0px 0.5px #003366,
  0px -1px 0.5px #003366;
}

.niconico {
  background-color: #252525;
}

.top a {
  padding: 0 22px;
  font-size: 50px;
  color:white;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 60px;
  opacity: 0.8;
  border: 2px white solid;
  filter: brightness(100%);
  box-shadow: 0 8px #b4b4b4;
}

.top a:hover {
  opacity: 1;
  filter: brightness(110%);
}

.top:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}

.content-list {
  font-size: 30px;
  display: flex;
  flex: auto;
  position: relative;
}

.content h1 {
  font-size: 50px;
  margin: 120px 110px 100px;
  width: 410px;
}

.content img  {
  width: 300px;
  margin: 0 auto;
}

.lego p {
  position: absolute;
  left: 0px;
  top: 230px;
}

.electronic p {
  position: absolute;
  left: 0px;
  top: 230px;
}

.program p {
  position: absolute;
  left: 0px;
  top: 230px;
}

footer {
  background-color: #003366;
  height: 105px;
  position: relative;
}

.learn img {
  width: 400px;
  margin: auto;
  border-radius: 8px;
  transition: opacity 0.5s;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.learn img:hover {
  opacity: 0.6;
}
